.calc{
	display:inline-block;
	padding: 10px;
	border:1px solid gray;
	background: #A7C0DC;
}

.calc textarea{
	font-size: 19px;
}

.calc .button{
	float: left;
	display: inline-block;
	margin: 10px;
}

.calc .button input[type="Button"]{
	width:45px;
	height: 45px;
	font-size: 20px;
}

.calc .buttons-wrap {
	display: table;
	margin: 10px auto;
}

.calc .row-of-buttons:after {
	content: '';
	display: block;
	clear: both;
}

p {
	font-size:18px;
}